<div class="slider">
    <!-- TEXT -->
    <div class="slider-content">
        <div class="swiper-wrapper">
            <!--  SLIDE TEXT / ONE -->
            <div class="swiper-slide slider-slide">
                <div class="slider-slide__container">
                    <div class="slider-text__desc">
                        <div class="slider-slide__title">
                            <span>Take the design of</span>
                            <span>your website to a</span>
                        </div>
                        <span>new level</span>
                    </div>

                    <div class="slider-button__wrapper">
                        <button id="openDialog-btn" class="open-dialog-button">
                            <span>Contact Us</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- SLIDE TEXT / TWO -->
            <div class="swiper-slide slider-slide">
                <div class="slider-slide__container">
                    <div class="slider-text__desc">
                        <div class="slider-slide__title">
                            <span>Individual approach.</span>
                            <span>The maximum result</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- IMAGES -->
    <div class="slider-img">
        <div class="swiper-wrapper">
            <div class="swiper-slide slider-img__slide">
                <div
                    class="slider-img__bg"
                    data-swiper-parallax="-50"
                    style="background-image: url(img/dist/slide-images/1.jpg)"
                ></div>
            </div>

            <div class="swiper-slide slider-img__slide">
                <div
                    class="slider-img__bg"
                    data-swiper-parallax="-70"
                    style="background-image: url(img/dist/slide-images/2.jpg)"
                ></div>
            </div>

            <!-- <div class="swiper-slide slider-img__slide">
                <div
                    class="slider-img__bg"
                    data-swiper-parallax="-50"
                    style="background-image: url(img/dist/slide-images/3.1.jpg)"
                ></div>
            </div> -->
        </div>
    </div>

    <div class="slider-bottom">
        <!-- PAGINATION -->
        <div class="slider-pagination">
            <div class="swiper-pagination"></div>
        </div>
        <!-- SCROLLBAR -->
        <div class="slider-scrollbar">
            <div class="swiper-scrollbar"></div>
        </div>
        <!-- NAVIGATION -->
        <div class="slider-navigation">
            <div class="slider-navigation__container">
                <div class="swiper-button-prev swiper-btn-prev"></div>
                <div class="swiper-button-next swiper-btn-next"></div>
            </div>
        </div>
    </div>
</div>
