<div class="top-line">
    <!-- LOGO -->
    <a href="./index.html" class="logo">
        <img src="./img/dist/logo-DRN.svg" alt="" />
        <span>dayren</span>
    </a>

    <!-- CONTACTS -->
    <div class="top-line__contacts">
        <span class="top-line__phone"
            >Phone:
            <span class="top-line__number">+375 (33) 678 51 03</span>
        </span>

        <span class="top-line__separator"></span>

        <span class="top-line__address"
            >city:
            <span class="top-line_text">Grodno</span>
        </span>
    </div>

    <!-- MENU -->
    <div class="menu-container">@@include('dropDownMenu.html')</div>
</div>
