.wf-cards-wrapper {
   width: 90%;
   margin: 0 auto;
}

.wf-card {
   position: relative;
   padding-block: 2rem;
   margin-block: 2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: calc($wf-index * 4);

   @media (max-width: 688px) {
      flex-direction: column-reverse;
   }
}

.wf-card-desc {
   position: relative;
   width: clamp(17rem, 15rem + 10vw, 24rem);
   background-color: transparent;
   background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1),
      rgba(255, 255, 255, 0.1)
   );
   backdrop-filter: blur(10px);
   border: 1px solid rgba(255, 255, 255, 0.25);
   opacity: 0;
   animation: wfCardDesc forwards;
   animation-timeline: view();
   animation-range: entry 0%, entry 100%;
}
@keyframes wfCardDesc {
   0% {
      opacity: 0;
      transform: translateY(-50%);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.wf-card-desc p {
   padding: 1rem 1rem 2.75rem;
   text-align: center;
}

.wf-card-frame {
   position: relative;
   height: 350px;
   width: 250px;
   perspective: 500px;
   cursor: pointer;
   animation: wfCard;
   animation-timeline: view();
   animation-range: entry 0%, entry 100%;

   &::before,
   &::after {
      content: "";
      position: absolute;
      bottom: 2%;
      z-index: 20;
      width: 75%;
      height: 20%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-image: linear-gradient(0deg, black 25%, transparent);
   }

   &::before {
      left: -3%;
      transform: skewX(-35deg);
   }
   &::after {
      right: -3%;
      transform: skewX(35deg);
   }
}

@keyframes wfCard {
   0% {
      opacity: 0;
      transform: translateY(100%);
   }

   100% {
      opacity: 1;
      transform: translateY(0%);
   }
}

.wf-card-frame img {
   position: absolute;
   top: -2%;
   left: 50%;
   transform: translateX(-50%);
   z-index: 10;
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: top 0.5s $wf-transition;

   @media (any-hover: hover) {
      &:hover {
         top: -5%;
      }
   }
}

.wf-card-frame h3 {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 2.5%;
   z-index: 25;
   text-transform: uppercase;
}

.wf-card-frame span {
   position: absolute;
   transform-style: preserve-3d;
   left: 50%;
   bottom: -20%;
   transform: translateX(-50%) rotateX(85deg);
   height: 75%;
   width: 100%;
   border-radius: 20px;

   &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) translateZ(-1rem);
      width: 75%;
      height: 100%;
      filter: blur(1px);
      background-image: linear-gradient(
         360deg,
         rgba(255, 255, 255, 0.5),
         transparent 10%
      );
      transition: all 1s ease;
   }
   &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) translateZ(-2rem);
      width: 50%;
      height: 100%;
      background-image: linear-gradient(
         360deg,
         rgba(255, 255, 255, 0.25),
         transparent 10%
      );
   }
}

.wf-card:nth-child(1) .wf-card-frame span {
   background-image: conic-gradient($wf-color-exc, black, $wf-color-exc);
}
.wf-card:nth-child(2) .wf-card-frame span {
   background-image: conic-gradient($wf-color-mag, black, $wf-color-mag);
}
.wf-card:nth-child(3) .wf-card-frame span {
   background-image: conic-gradient($wf-color-volt, black, $wf-color-volt);
}
