.gr-header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: clamp(2rem, 1.6rem + 2vw, 4rem);
    margin-top: calc($gr-index);
    padding-right: 0.25rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
@media (max-width: 768px) {
    .gr-header {
        justify-content: space-between;
    }
}

.gr-logo {
    display: block;
    width: 11rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.gr-nav {
    display: flex;
    justify-content: end;
    flex: 1;
}

.gr-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gr-nav ul li > * {
    position: relative;
    color: $gr-gray-color;
    text-transform: uppercase;
    font-weight: 700;
}

.gr-nav li > *::before,
.gr-nav li > *::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 11px;
    height: 1px;
    top: -2px;
    margin: 0 0.3rem;
    vertical-align: middle;
    border-radius: 10em;
    background-color: $gr-accent-color;
    visibility: hidden;
}

@media (any-hover: hover) {
    .gr-nav li.active > *,
    .gr-nav li:hover > * {
        color: $gr-white-color;
    }

    .gr-nav li.active > *::before,
    .gr-nav li:hover > *::before,
    .gr-nav li.active > *::after,
    .gr-nav li:hover > *::after {
        visibility: visible;
    }
}

// MENU BUTTON
.gr-dropdown-button {
    display: none;
}

@media (max-width: 768px) {
    .gr-dropdown-button {
        display: block;
        position: relative;
        width: clamp(2rem, 1.75rem + 1.25vw, 3.25rem);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.gr-dropdown-button span {
    position: absolute;
    width: 85%;
    height: 2px;
    transition: 0.25s ease-out;
    background-image: linear-gradient(to right top, $gr-accent-color, #1e5b53);
}

.gr-dropdown-button span:nth-child(1) {
    top: 25%;
}

.gr-dropdown-button span:nth-child(3) {
    bottom: 25%;
}

// ACTIVE MENU BUTTON
.gr-dropdown-active {
    transform: rotate(0);
    animation: gr-dropdown 1s forwards;
}
@keyframes gr-dropdown {
    to {
        transform: rotate(360deg);
    }
}

.gr-dropdown-active span {
    width: 85%;
    height: 2px;
    background-image: linear-gradient(0, yellowgreen, yellowgreen);
}

.gr-dropdown-active span:nth-child(1) {
    top: 27%;
    left: 0%;
    transform: rotate(-30deg);
}

.gr-dropdown-active span:nth-child(2) {
    right: -30%;
    transform: rotate(90deg);
}

.gr-dropdown-active span:nth-child(3) {
    left: 0%;
    bottom: 27%;
    transform: rotate(30deg);
}

// DROPDOWN MENU
@media (max-width: 768px) {
    .gr-nav {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 95dvh;
        opacity: 0;
        backdrop-filter: blur(15px);
        background-image: linear-gradient(
            120deg,
            rgba($gr-gray-color, 0.2),
            rgba($gr-accent-color, 0.7)
        );
        background-color: transparent;
        overflow: hidden;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
        border-right: 2px solid #a8fca5;
        transform: translateX(110%);
        transition: $gr-transition 1s;
    }

    .gr-nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            width: 100%;
            text-align: center;
            opacity: 0.1;
            transform: translateX(1rem);
            transition: $gr-transition 0.75s;

            &:nth-child(odd) {
                transform: translateX(10rem);
            }

            a {
                display: inline-block;
                width: 100%;
                color: $gr-white-color;
                font-size: 2rem;
            }
        }
    }
}

// ACTIVE DROPDOWN MENU
.gr-nav-active {
    opacity: 1;
    transform: translateX(0%);

    ul li {
        opacity: 1;
        transition: $gr-transition 1.25s;

        &:nth-child(odd) {
            transform: translateX(1rem);
        }
    }
}
